<div class="container">
       <div class="row">
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno5 Pro 5G (Starry Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno5 Pro 5G (Starry Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">47,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno5 Pro 5G (Astral Blue).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno5 Pro 5G (Astral Blue)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">47,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo Reno4 Pro (Silky White).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oppo Reno4 Pro (Silky White)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">47,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno4 Pro (Midnight Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno4 Pro (Midnight Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">45,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno4 Pro (Galactic Blue).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno4 Pro (Galactic Blue)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">45,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno3 Pro (Sky White).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno3 Pro (Sky White)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">45,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo Reno3 Pro (Midnight Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oppo Reno3 Pro (Midnight Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">45,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno2 (Ocean Blue).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno2 (Ocean Blue)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">41,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno2 (Luminous Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno2 (Luminous Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">41,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Reno (Jet Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Reno (Jet Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">37,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Find X2 (Ocean).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Find X2 (Ocean)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">33,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO Find X2 (Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO Find X2 (Black).jpg</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">33,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO F19 Pro+ 5G (Space Silver).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO F19 Pro+ 5G (Space Silver)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">27,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO F19 Pro+ 5G (Fluid Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO F19 Pro+ 5G (Fluid Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">27,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO F19 (Space Silver).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO F19 (Space Silver)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">21,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo F19 (Prism Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO F19 (Prism Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">21,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo F19 (Midnight Blue).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO F19 (Midnight Blue)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">21,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO A74 5G (Fluid Black).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A74 5G (Fluid Black)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">14,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO A74 5G (Fantastic Purple).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A74 5G (Fantastic Purple)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">14,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO A74 5G (Fantastic Purple).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A74 5G (Fantastic Purple)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">14,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
               <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo A54 (Starry Blue).jpg"></a>
                   <figcaption class="info-wrap">
                       <div class="row">
                           <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A54 (Starry Blue)</a> </div>
                           <div class="col-md-4">
                               <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           </div>
                       </div>
                   </figcaption>
                   <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                       <div class="price-wrap"> <span class="price h5">14,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                   </div>
               </figure>
           </div>
           <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/Oppo A52 (Twilight Black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A52 (Twilight Black)</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">12,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oppo/OPPO A52 (Stream White).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">OPPO A52 (Stream White)</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">12,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
       </div>
   </div>