<div class="container">
    <div class="row">
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5Gpro(steller black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">OnePlus 9 5G Pro(Steller Black)</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">64,000 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5Gpro(morning mist).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">OnePlus 9 5G Pro</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">64,599 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5Gpro(green).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 9 pro 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">63,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5G(winter mist).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus9 5G </a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">51,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5G(Lake blue).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus9 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">51,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5G(carbon black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus9 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">51,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5G(Astral black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus9 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">51,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus5G(Arctic sky).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus9 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">51,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus Nord CE 5G(silver ray).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus Nord CE 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">34,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus Nord CE 5G (charcoal black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus Nord CE 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">34,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus Nord CE 5G (Blue void).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus Nord CE 5G</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">34,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 8T (lunar silver).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 8T</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">46,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 8T (Aquamarine green).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 8T</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">46,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 8pro(Onyx Black).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 8 Pro</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">48,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 8pro(Glacial green).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 8 Pro</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">48,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 7T(Glacier blue).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 7T</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">45,000 Rs9</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 7T pro(Haze blue).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 7T Pro</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">45,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 7 pro(mirror gray).jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 7 Pro</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">42,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Oneplus/Oneplus 5.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Oneplus 5</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">20,000 Rs</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
    </div>
</div>