<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>iPhone 12 Pro max</h4>
                                <p>This has many features that are simply awesome. The phone comes with a 6.50-inch display with a resolution of 1820x980 pixels.</p> <br> <a href="/iphone">BUY NOW</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/images/iphone-12-vs-iphone-12-pro-main.jpg" class="mx-auto" alt="slide" width="640" height="600" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>BlackBerry Key 5G</h4>
                                <p>This has many features that are simply awesome.The phone comes with a 6.00-inch display with a resolution of 2080*1920 pixels.</p> <br> <a href="/blackberry">BUY NOW</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/images/Blackberry.jpg" class="mx-auto" alt="slide" width="640" height="600" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>ONE PLUS 9Pro</h4>
                                <p>This has many features that are simply awesome.The phone comes with a 6.50-inch display with a resolution of 2080*1920 pixels.</p> <br> <a href="/oneplus">BUY NOW</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/images/Oneplus-9-pro.jpg" class="mx-auto" alt="slide" width="640" height="600"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>Samsung S20 Pro</h4>
                                <p>This has many features that are simply awesome.The phone comes with a 6.50-inch display with a resolution of 2080*1920 pixels.</p> <br> <a href="/vivo">BUY NOW</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="assets/images/Samsung-Galaxy-S20-Ultra-5G-Camera-Marketing-1200x675-1.jpg" class="mx-auto" alt="slide" width="640" height="600"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
</body>
</html>
