<div class="container">
    <div class="row">
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberrykey2.jpeg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Key 2</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">42,990 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry-key2-le blue.jpeg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry key2 le (Blue)</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">45,999 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry-key2-le black.jpeg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Key2 le(Black)</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">44,599 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry-key1.jpeg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Key1</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">45,000 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry-evolve.jpeg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Evolve</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">25,000 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry-dtek.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry DTek</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">18,199 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry z30.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Z30</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">11,499 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry z10.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Z10</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">13,500 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry priv.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Priv</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">32,499 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="assets/Blackberry/blackberry leap.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">Blackberry Leap</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a routerLink="/cart" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                    <div class="price-wrap"> <span class="price h5">23,059 Rs/-</span> <br> <small class="text-success">Free shipping</small> </div>
                </div>
            </figure>
        </div>
    </div>
</div>